h1 {
	font-family:"Arial Black", Gadget, sans-serif;
  color: green;
}

text {
	font-family:Arial, Helvetica, sans-serif;
  color: green;
}


body {
	
}

#burger {
	position: absolute;
  left: 8px;
  top: 880px;
  box-shadow: 0px 0px 10px white;
}

#pizza {
	position: absolute;
  left: 8px;
  top: 1100px;
  box-shadow: 0px 0px 10px white;
}

#fries {
	position: absolute;
  left: 8px;
  top: 1320px;
  box-shadow: 0px 0px 10px white;
}

#salmon {
	position: absolute;
  left: 8px;
  top: 1700px;
  box-shadow: 0px 0px 10px white;
}

#apple {
	position: absolute;
  left: 8px;
  top: 1920px;
  box-shadow: 0px 0px 10px white;
}

#chickenb {
	position: absolute;
  left: 8px;
  top: 2140px;
  box-shadow: 0px 0px 10px white;
}

#hfoods  {
	position: absolute;
  left: 600px;
  top: 1550px;
}

#hfoodtext{
	position: absolute;
	left: 400px;
  top: 1640px;
}

#burgerc {
	position: absolute;
  left: 270px;
  top: 950px;
}

#pizzac {
	position: absolute;
  left: 285px;
  top: 1180px;
}

#friesc {
	position: absolute;
  left: 290px;
  top: 1390px;
}

#salmonc {
	position: absolute;
  left: 290px;
  top: 1775px;
}

#applec {
  position: absolute;
  left: 290px;
  top: 1990px;
}

#chickenc {
  position: absolute;
  left: 295px;
  top: 2210px;
}

#stabh {
  position: absolute;
  left: 500px;
  top: 2410px;
}

#tips {
  position: absolute;
  left: 400px;
  top: 2495px;
}

#tips_list {
  position: absolute;
  left: 0px;
  top: 2510px;
  font-family:Arial, Helvetica, sans-serif;
  color: green;
}

#jvh {
  position: absolute;
  right: 8px;
  top: 2540px;
}

#link {
  position: absolute;
  left: 200px;
  top: 3000px;
}



/* Dropdown Button */
.btn {
  background-color: #2196F3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn:hover, .dropdown:hover .btn  {
  background-color: #0b7dda;
}










