<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Gyms near you</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
  </head> 

<div class="topnav">
  <a href="/">Home</a>
  <a href="/health.html">Health</a>
  <a class="active" href="/gyms.html">Map</a>
  <a href="/workouts.html">Workouts</a>
  <a href="/resources-videos.html">Resources</a>
</div>

  <body>
    <div class="topnav">
  
  <a class="active" href="/">Home</a>
  <a class="active" href="/health.html">Health</a>
  <a class="active" href="/gyms.html">Gyms</a>
  <a class="active" href="/workouts.html">Workouts</a>
  <a class="active"href="/resources-videos.html">Resources</a>
  

</div>

    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1GmcSVKn2AJ2XImLKfDmOhJgYzsVrn564" width= "100%" height="1000" ></iframe>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVkU87mMS9pxDPxsBn0-NJEmkzfruSUfc&libraries=places&callback=initAutocomplete" async defer></script>

  </body>
</html>